.body {
  background-color: #000;
}

.p-canvas-webgl {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 13%;
  mix-blend-mode: screen;
  pointer-events: none;
}

.header {
  display: flex;
  height: 156px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.div-block {
  width: 100%;
}

.content {
  display: flex;
  height: 500px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  align-items: center;
  background-color: #2c2525;
}

.left_content {
  width: 716.2806px;
  height: 500px;
  background-color: #3a1d1d;
}

.swap_content {
  width: 657.3237px;
  height: 500px;
  background-color: #ae5959;
}

.section_swap {
  display: flex;
  height: auto;
  margin-top: 66px;
  justify-content: center;
  background-color: transparent;
  color: #333;
}

.swap_description {
  display: flex;
  width: 716px;
  height: auto;
  padding-right: 158px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
}

.swap_module {
  display: flex;
  width: 685px;
  height: auto;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-style: solid;
  border-width: 1px;
  border-color: #489174;
  border-radius: 20px;
  background-color: #00110e;
  background-image: linear-gradient(45deg, #000c0a, #001e18);
}

.div-block-3 {
  width: 50px;
  height: 50px;
  background-color: #812828;
}

.div-block-4 {
  width: 100%;
  height: 50px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #973838;
}

.header_items {
  display: flex;
  width: 1401px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.menu {
  display: flex;
  width: auto;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.swap_title {
  display: flex;
  width: 100%;
  height: 61.3px;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  background-color: transparent;
}

.anonymous {
  display: flex;
  width: 100%;
  height: 26.4px;
  margin-top: 19px;
  margin-bottom: 0px;
  align-items: center;
  flex: 0 0 auto;
  background-color: transparent;
}

.send_receive {
  position: relative;
  display: flex;
  width: 100%;
  height: 188.5px;
  margin-top: 19px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  background-color: transparent;
}

.poof {
  display: flex;
  width: 100%;
  height: 89.5px;
  margin-top: 19px;
  margin-bottom: 0px;
  align-items: center;
  flex: 0 0 auto;
  border: 1px solid #12241d;
  border-radius: 14px;
  background-color: #000807;
}

.referral {
  display: flex;
  width: 100%;
  height: 55.4px;
  margin-top: 10.8px;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  background-color: transparent;
}

.swap_now {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 9px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  background-color: transparent;
}

.swap_send {
  display: flex;
  width: 100%;
  height: 89px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1.5px;
  border-color: #12241d;
  border-radius: 14px;
  background-color: #000807;
}

.to {
  width: 100%;
  height: 89px;
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 0 0 auto;
  background-color: #ee5c5c;
}

.swap_button {
  position: absolute;
  top: 67px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  flex: 0 0 auto;
  background-color: transparent;
  cursor: pointer;
}

.field-label {
  margin-bottom: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.div-block-8 {
  display: flex;
  width: 300px;
  height: 100%;
  padding-top: 21px;
  padding-bottom: 9px;
  padding-left: 18px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}

.text-field {
  margin-bottom: 0px;
  padding: 0px;
  border: 1px none transparent;
  background-color: transparent;
  font-size: 22px;
  line-height: 22px;
}

.text-field:active {
  border-style: none;
  border-width: 0px;
}

.form-block {
  margin-bottom: 0px;
}

.swap_icon {
  border-radius: 50px;
  background-color: transparent;
}

.swap_icon:hover {
  box-shadow: 0 0 10px 2px rgba(83, 235, 194, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.form {
  display: flex;
  align-items: center;
}

.field-label-copy {
  width: 120px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 14px;
}

.div-block-8-copy {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.form-copy {
  display: flex;
  width: 585px;
  align-items: center;
  border: 1px solid #12241d;
  border-radius: 14px;
  background-color: #00110e;
}

.text-field-copy {
  min-width: auto;
  margin-bottom: 0px;
  padding: 0px 19px;
  border: 1px none transparent;
  background-color: transparent;
  font-size: 22px;
  line-height: 22px;
}

.text-field-copy:active {
  border-style: none;
  border-width: 0px;
}

.form-block-copy {
  display: flex;
  height: 100%;
  margin-bottom: 0px;
  background-color: transparent;
}

.form-2 {
  display: block;
}

.swap_form_input {
  width: 100px;
  height: 30px;
  background-color: #884848;
}

.swap_left {
  display: flex;
  width: auto;
  height: 50px;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.text-block {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: right;
}

.swap_input {
  display: inline-block;
  color: #387167;
  font-size: 22px;
  font-weight: 700;
  text-align: right;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: text;
}

.swap_right {
  display: flex;
  width: auto;
  height: 50px;
  margin-right: 20px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.text-block-2-copy {
  font-family: 'Open Sans', sans-serif;
  color: #4ba393;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
}

.token_icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: #fff;
}

.send_token_info {
  display: flex;
  margin-bottom: 6px;
  align-items: center;
}

.token_price {
  display: flex;
  align-items: center;
}

.swap_receive_right {
  display: flex;
  width: auto;
  height: 50px;
  margin-right: 20px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.receive_token_info {
  display: flex;
  margin-bottom: 0px;
  align-items: center;
}

.text-block-copy {
  font-family: 'Open Sans', sans-serif;
  color: #f4fffc;
  font-weight: 700;
  text-align: right;
}

.referral_case {
  display: flex;
  width: 530px;
  height: 100%;
  padding-left: 20px;
  align-items: center;
  border: 1px solid #12241d;
  border-radius: 14px;
  background-color: #000807;
}

.text-block-copy-copy {
  color: #333;
  font-weight: 400;
  text-align: right;
    background-color: transparent;
  border: none;
  outline: none;
  cursor: text;
}

.swap_now_button {
  display: flex;
  width: 100%;
  height: 62px;
  margin-top: 19px;
  margin-bottom: 19px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1.5px;
  border-color: #53ebc2;
  border-radius: 50px;
  background-color: #00110e;
  background-image: linear-gradient(90deg, #030a08, #0d5345 50%, #030a08);
}

.swap_now_button:hover {
  border-color: #fff;
  background-image: linear-gradient(90deg, #53ebc2, #0b7f60 50%, #53ebc2);
}

.swap_info {
  display: flex;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: stretch;
}

.text-block-3 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.text-block-4 {
  font-family: 'Open Sans', sans-serif;
  color: #53ebc2;
  font-weight: 300;
}

.text-block-5 {
  margin-left: -18px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.swap_video {
  padding-left: 18px;
}

.text-block-6 {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #53ebc2;
  font-size: 16px;
  font-weight: 700;
}

.swap_top {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  background-color: transparent;
}

.lower_fees {
  display: flex;
  width: auto;
  height: 32px;
  margin-right: 9px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50px;
  background-color: #0c5143;
}

.fees {
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh_button {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}

.swap_h1 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}

.swap_under {
  font-family: 'Open Sans', sans-serif;
  color: #5db59d;
  font-weight: 400;
}

.anon_button {
  position: relative;
  z-index: 100;
  display: flex;
  width: 45px;
  height: 25px;
  margin-right: 10px;
  padding-right: 0px;
  align-items: center;
  border-radius: 50px;
  background-color: #1e7061;
}

.text-block-9 {
  padding-right: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #53ebc2;
  font-weight: 700;
}

.text-block-10 {
  opacity: 0.5;
  font-family: 'Open Sans', sans-serif;
  color: #3adac0;
  font-weight: 700;
}

.anon_button_circle {
  position: static;
  z-index: 1;
  width: 22px;
  height: 22px;
  margin-left: 2px;
  padding-left: 0px;
  border-radius: 50px;
  background-color: #53ebc2;
}

.anon_button_trigger {
  position: absolute;
  z-index: 100;
  display: flex;
  width: 45px;
  height: 25px;
  margin-right: 10px;
  padding-right: 0px;
  align-items: center;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}

.div-block-18 {
  display: flex;
  width: auto;
  padding-right: 100px;
  padding-left: 0px;
  flex-direction: column;
}

.heading {
  margin-top: 0px;
  margin-bottom: 33px;
  color: #fff;
  font-size: 48px;
}

.paragraph {
  width: 565px;
  margin-bottom: 33px;
  font-size: 18px;
}

.div-block-19 {
  width: 400px;
  height: 63px;
  border: 1px solid #12241d;
  border-radius: 50px;
  background-color: #00110e;
}

.paragraph-2 {
  width: 500px;
  margin-bottom: 33px;
}

.swap_description_title {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}

.swap_description_p1 {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  align-items: center;
  background-color: transparent;
}

.search_bar {
  display: flex;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 1.5px;
  border-color: #53ebc2;
  border-radius: 50px;
  background-color: #000807;
}

.swap_description_p2 {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 45px;
  background-color: transparent;
}

.text-block-11 {
  color: #53ebc2;
  font-size: 47px;
  line-height: 60px;
  font-weight: 700;
}

.text-block-12 {
  color: #2f9a7d;
  font-size: 18px;
  line-height: 22px;
}

.text-block-13 {
  color: #befeea;
  line-height: 22px;
}

.logo {
  width: 350px;
  max-width: none;
}

.menu_link {
  padding-left: 37px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
}

.menu_link_button {
  background-color: transparent;
}

.menu_link_button:hover {
  color: #53ebc2;
}

.text-block-14 {
  color: #b5ffeb;
  font-weight: 700;
}

.bold-text {
  font-family: 'Open Sans', sans-serif;
  color: #387167;
}

.search_button {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.search_input {
  font-family: 'Open Sans', sans-serif;
  color: #1e7061;
  font-weight: 600;
      background-color: transparent;
  border: none;
  outline: none;
  cursor: text;
}

.swap_receive_left {
  display: flex;
  width: auto;
  height: 50px;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}