.body {
  background-color: #000;
}

#particle-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  mix-blend-mode: screen;
  background: #000;
}

.header_side {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  display: flex;
  height: 86px;
  padding-right: 125px;
  padding-left: 125px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.logo {
  width: 142.8125px;
  height: auto;
  background-color: transparent;
}

.menu {
  width: 200px;
  height: 22px;
  background-color: #7a4e4e;
}

.connect {
  display: flex;
  width: 165px;
  height: 38.5px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1.5px;
  border-color: #72ffb4;
  border-radius: 50px;
  background-color: #7a4e4e;
  background-image: url('../images/button.png');
  background-position: 0px 0px;
  background-size: auto;
}

.hero {
  position: fixed;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-block {
  width: 450px;
  height: 568px;
  background-color: #753939;
}

.div-block-2 {
  width: 200px;
  height: 50px;
  margin-top: 55px;
  border-radius: 50px;
  background-color: #925454;
}

.hero_page {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 65px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.div-block-3 {
  position: static;
  display: flex;
  width: 100%;
  margin-top: 113px;
  justify-content: center;
}

.div-block-4 {
  width: 450px;
  height: 568px;
  background-color: #235d3e;
}

.div-block-5 {
  width: 180px;
  height: 38px;
  background-color: #5113bc;
}

.div-block-6 {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.div-block-7 {
  width: 100%;
  height: 400px;
  margin-top: 80px;
  margin-bottom: 0px;
  background-color: #37734d;
}

.div-block-8 {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: -65px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-block-9 {
  width: 575px;
  height: 726px;
  margin-top: 0px;
  background-color: transparent;
}

.div-block-10 {
  width: 165px;
  height: 42px;
  margin-top: 35px;
  background-color: #5c1111;
}

.text-block {
  font-family: Oswald, sans-serif;
  color: #fff;
}

.header_center {
  position: absolute;
  z-index: 0;
  display: flex;
  width: 50%;
  height: 86px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #404040;
}

.header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 86px;
  justify-content: center;
  align-items: center;
}

.menu_title {
  display: block;
  margin-right: 30px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.main_section {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: flex;
  width: auto;
  height: 100vh;
  margin-top: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_mascot {
  display: flex;
  width: 100%;
  height: 578.3086px;
  margin-top: 0px;
  padding-top: 0px;
  justify-content: center;
  background-color: transparent;
}

.mascot_image {
  width: 458.2302px;
  height: 578.3086px;
}

.section_button {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: flex;
  height: 65px;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
}

.makehimhigh {
  display: flex;
  width: 200px;
  height: 50px;
  margin-right: 19px;
  margin-left: 19px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #a568ff;
  border-radius: 50px;
  background-color: #7a4e4e;
  background-image: url('../images/button_1.png');
  background-position: 0px 0px;
  background-size: auto;
}

.footer_icons {
  width: 32px;
  height: 32px;
  margin-right: 24px;
  margin-bottom: 0px;
  margin-left: 24px;
  background-color: transparent;
}

.mascot {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.header_center_mobile {
  position: absolute;
  display: none;
  width: 50%;
  height: 86px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #404040;
}

.header_connect_mobile {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: none;
  height: 86px;
  padding-right: 125px;
  padding-left: 125px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.connect_mobile {
  display: none;
  width: 165px;
  height: 38.5px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #7a4e4e;
}

.hamburger_menu {
  display: none;
  width: 142.8125px;
  height: auto;
  background-color: transparent;
}

.connect_wallet {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #7a4e4e;
}

.connect_me {
  display: flex;
  width: 200px;
  height: 50px;
  margin-right: 19px;
  margin-left: 19px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #85ffd2;
  border-radius: 50px;
  background-color: #7a4e4e;
  background-image: url('../images/button_1.png');
  background-position: 0px 0px;
  background-size: auto;
}

.background-video {
  width: 458.2302px;
  height: 578.3086px;
}

.audio_title {
  display: block;
  margin-right: 30px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header_side {
    padding-right: 40px;
    padding-left: 40px;
  }

  .connect {
    width: 140px;
  }

  .menu_title {
    font-size: 16px;
  }

  .header_connect_mobile {
    padding-right: 40px;
    padding-left: 40px;
  }

  .connect_mobile {
    width: 140px;
  }

  .hamburger_menu {
    display: none;
  }

  .connect_wallet {
    display: none;
  }

  .background-video {
    width: 458.2302px;
    height: 578.3086px;
  }

  .audio_title {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .connect {
    display: none;
  }

  .header_center {
    display: none;
  }

  .header_center_mobile {
    display: flex;
  }

  .hamburger_menu {
    display: flex;
    width: 28px;
  }

  .connect_wallet {
    display: none;
  }

  .background-video {
    width: 458.2302px;
    height: 578.3086px;
  }
}

@media screen and (max-width: 479px) {
  .header_side {
    height: 65px;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    width: 120px;
    align-items: center;
  }

  .connect {
    display: none;
  }

  .header {
    height: 65px;
  }

  .mascot_image {
    display: flex;
    width: 350px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .section_button {
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer {
    margin-bottom: 22px;
  }

  .makehimhigh {
    margin: 15px 0px;
  }

  .header_center_mobile {
    display: none;
    height: 65px;
  }

  .div-block-11 {
    width: 5px;
  }

  .header_connect_mobile {
    display: flex;
    height: 65px;
    margin-top: 92px;
    justify-content: center;
  }

  .connect_mobile {
    display: flex;
  }

  .hamburger_menu {
    display: flex;
    width: 25px;
  }

  .connect_wallet {
    margin-top: 30px;
  }

  .connect_me {
    margin: 15px 0px;
  }

  .background-video {
    width: 350px;
    height: 442px;
    max-width: none;
  }
}