.body {
  background-color: #000;
}

.header {
  z-index: 10;
  width: 100%;
  height: 55px;
  background-color: #070707;
  justify-content: space-between;
  padding: 8px 0 8px 8px;
  display: flex;
  position: fixed;
}

.main {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  display: flex;
}

.div-block-2 {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: 0;
  position: relative;
}

.div-block-3 {
  width: 400px;
  height: 55px;
  background-color: #121212;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: auto;
}

.div-block-4 {
  width: 100%;
  height: 120px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .38);
  border: 2px solid #7527c3;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-5 {
  height: 100%;
  background-color: #262626;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 15px;
  display: flex;
}

.logo {
  width: 135px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  display: flex;
}

.menu_block {
  width: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
  font-family: Exo, sans-serif;
  font-weight: 500;
  display: flex;
}

.menu_block:hover {
  color: #72fff4;
}

.side_menu {
  justify-content: flex-end;
  display: flex;
}

.wallet {
  width: 135px;
  height: 100%;
  background-color: #393939;
  margin-left: 8px;
  margin-right: 8px;
}

.div-block-8 {
  background-color: #434343;
  display: none;
}

.image {
  width: 100%;
  height: 100%;
}

.div-block-9 {
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
}

.div-block-10 {
  width: 100%;
  height: auto;
  border-radius: 14px;
  flex-direction: column;
  display: flex;
}

.de {
  width: 100%;
  height: 50%;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.div-block-12 {
  width: 40px;
  height: 40px;
  background-color: #909090;
  border-radius: 100%;
}

.div-block-13 {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  display: flex;
}

.text-block {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.de-copy {
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  display: flex;
}

.div-block-14 {
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 71px;
  display: flex;
}

.div-block-15 {
  width: 380px;
  height: 380px;
  background-color: #2f1c1c;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.div-block-16 {
  width: 380px;
  height: 150px;
  background-color: #2f1c1c;
  border-radius: 20px;
  margin-top: 15px;
}

.image-2 {
  width: 350px;
  height: 350px;
}

.main_section {
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wheele {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.loot {
  width: 350px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.center_block {
  height: 507px;
  background-color: #0a0e0f;
  border-radius: 8px;
  padding: 15px;
}

.wheel_base {
  width: 350px;
  height: 350px;
}

.side_block {
  width: 300px;
  height: 507px;
  background-color: #080808;
  border-radius: 8px;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  padding: 8px;
  display: flex;
}

.button_wallet {
  width: 135px;
  height: 100%;
  color: #72fff4;
  background-image: linear-gradient(-45deg, #010d0d, #052525);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  font-family: Exo, sans-serif;
  font-weight: 500;
  display: flex;
}

.button_wallet:hover {
  color: #fff;
}

.block_title {
  width: 100%;
  height: 50px;
  background-color: #010d0d;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.text-block-2 {
  color: #72fff4;
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.description_block {
  width: 100%;
  height: 100%;
  background-color: #010d0d;
  border-radius: 8px;
  flex-direction: column;
  margin-top: 8px;
  padding: 4px 8px;
  display: flex;
}

.prizes_block {
  width: 100%;
  height: 25%;
  background-color: #000;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.project_logo {
  width: 60px;
  height: 60px;
  background-color: #202020;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.project_name {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  display: flex;
}

.title {
  color: #6effdd;
  margin-bottom: 5px;
  font-family: Exo, sans-serif;
  font-weight: 600;
  line-height: 14px;
}

.ticker {
  color: #cef0ff;
  margin-top: 5px;
  font-family: Exo, sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #202020;
  border-radius: 100%;
}

.number {
  color: #cef0ff;
  margin-top: 5px;
  font-family: Exo, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.social_web {
  width: 35px;
  height: 35px;
  background-color: #151515;
  background-image: url('../images/web.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: 2px solid #000;
  border-radius: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.social_web:hover {
  border-color: #35efdd;
}

.social_block {
  width: 100%;
  height: 25%;
  background-color: #000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.chain {
  color: #6effdd;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-weight: 600;
  line-height: 14px;
}

.prize_block {
  width: 100%;
  height: 25%;
  background-color: #000;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.wl_title {
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
}

.presale_cap {
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
}

.cap_title {
  color: #cef0ff;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Exo, sans-serif;
  font-weight: 600;
  line-height: 14px;
}

.loot_button {
  width: 100%;
  height: 100%;
  color: #ffee91;
  background-color: #000;
  border: 2px solid #0a0e0f;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  display: flex;
}

.loot_button:hover {
  border-color: #ffee91;
}

.hamburger_menu {
  display: none;
}

.eth {
  width: 100%;
  height: 100%;
}

.chain_logo {
  width: 35px;
  height: 35px;
  background-color: #202020;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.social_twitter {
  width: 35px;
  height: 35px;
  background-color: #151515;
  background-image: url('../images/twitter.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: 2px solid #000;
  border-radius: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.social_twitter:hover {
  border-color: #35efdd;
}

.social_tg {
  width: 35px;
  height: 35px;
  background-color: #151515;
  background-image: url('../images/tg.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: 2px solid #000;
  border-radius: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.social_tg:hover {
  border-width: 2px;
  border-color: #35efdd;
}

.popup_rules {
  z-index: 50;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .55);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.block_rules {
  width: 450px;
  height: auto;
  background-color: #000;
  border: 2px solid #d149b6;
  border-radius: 8px;
  flex-direction: column;
  align-items: stretch;
  padding: 55px 30px;
  display: flex;
  position: relative;
}

.popup_title {
  color: #ff64ff;
  text-align: center;
  font-family: Exo, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
}

.popup_para {
  color: #ce18af;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.popup_button {
  color: #76ffd6;
  background-color: #0e0e0e;
  border: 2px solid #000;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-family: Exo, sans-serif;
  font-weight: 600;
  display: flex;
}

.popup_button:hover {
  border-color: #76ffd6;
}

.close_button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  bottom: auto;
  left: auto;
  right: 2%;
}

.presale_block {
  width: 100%;
  height: 25%;
  background-color: #000;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.chain_block, .project_block {
  width: 100%;
  height: 25%;
  background-color: #000;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.menu_mobile {
  display: none;
}

.close_mobile_button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  bottom: auto;
  left: auto;
  right: 2%;
}

.image-4 {
  width: 36px;
  height: 36px;
}

.text-block-4 {
  color: #fff;
  margin-left: 5px;
  font-family: Exo, sans-serif;
  font-weight: 700;
}

.popup_win_wl {
  z-index: 50;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .55);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.block_loot {
  width: 450px;
  height: auto;
  background-color: #000;
  border: 2px solid #bd9f47;
  border-radius: 8px;
  flex-direction: column;
  align-items: stretch;
  padding: 55px 30px;
  display: flex;
  position: relative;
}

.popup_loot_title {
  color: #ffdd64;
  text-align: center;
  font-family: Exo, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
}

.popup_loot_para {
  color: #dad2c5;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.popup_loot_button {
  color: #ffe676;
  background-color: #0e0e0e;
  border: 2px solid #000;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-family: Exo, sans-serif;
  font-weight: 600;
  display: flex;
}

.popup_loot_button:hover {
  border-color: #f3c46e;
}

.popup_win_prize_1, .popup_win_prize_2, .popup_win_prize_3 {
  z-index: 50;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .55);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.remaining_spots {
  color: #6effdd;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-weight: 600;
  line-height: 14px;
}

.spots {
  color: #6effdd;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.wheel_arrow {
  position: absolute;
  z-index: 31;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (min-width: 1920px) {
  .header {
    height: 85px;
    padding: 15px;
  }

  .main {
    padding-top: 85px;
  }

  .div-block-2 {
    width: 600px;
    height: 600px;
  }

  .div-block-3 {
    width: 600px;
    height: 100px;
  }

  .div-block-4 {
    height: 185px;
  }

  .div-block-5 {
    height: 370px;
  }

  .logo {
    width: 200px;
  }

  .menu_block {
    width: 150px;
    font-size: 18px;
    line-height: 18px;
  }

  .wallet {
    width: 200px;
    margin-right: 15px;
  }

  .loot {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin-top: 35px;
  }

  .center_block {
    height: 850px;
    padding: 35px;
  }

  .wheel_base {
    width: 600px;
    height: 600px;
	z-index: 30;
    position: relative;
  }

  .side_block {
    width: 550px;
    height: 850px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .button_wallet {
    width: 170px;
    margin-right: 0;
    font-size: 18px;
    line-height: 18px;
  }

  .block_title {
    height: 70px;
  }

  .text-block-2 {
    font-size: 24px;
    line-height: 24px;
  }

  .project_logo {
    width: 80px;
    height: 80px;
  }

  .project_name {
    margin-left: 20px;
  }

  .title {
    font-size: 20px;
    line-height: 20px;
  }

  .ticker {
    font-size: 17px;
    line-height: 17px;
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .number {
    font-size: 20px;
    line-height: 20px;
  }

  .social_web {
    width: 55px;
    height: 55px;
  }

  .chain, .cap_title {
    font-size: 20px;
    line-height: 20px;
  }

  .loot_button {
    font-size: 25px;
    line-height: 25px;
  }

  .chain_logo {
    width: 50px;
    height: 50px;
  }

  .social_twitter, .social_tg {
    width: 55px;
    height: 55px;
  }

  .block_rules {
    width: 650px;
  }

  .popup_title {
    font-size: 35px;
    line-height: 35px;
  }

  .popup_para {
    font-size: 24px;
    line-height: 33px;
  }

  .popup_button {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 22px;
  }

  .close_button, .close_mobile_button {
    width: 40px;
    height: 40px;
  }

  .image-4 {
    width: 45px;
    height: 45px;
  }

  .text-block-4 {
    margin-left: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  .block_loot {
    width: 650px;
  }

  .popup_loot_title {
    font-size: 35px;
    line-height: 35px;
  }

  .popup_loot_para {
    font-size: 24px;
    line-height: 33px;
  }

  .popup_loot_button {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 22px;
  }

  .remaining_spots, .spots {
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 991px) {
  .header {
    position: static;
  }

  .main_section {
    flex-direction: column;
    padding-bottom: 35px;
    position: static;
  }

  .loot {
    width: 100%;
  }

  .center_block {
    width: 450px;
    height: auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .wheel_base {
    width: 300px;
    height: 300px;
  }

  .side_block {
    width: 450px;
    height: 400px;
  }

  .prize_block {
    align-items: flex-start;
  }

  .presale_cap {
    justify-content: flex-start;
  }

  .cap_title {
    margin-left: 0;
  }

  .presale_block {
    align-items: flex-start;
  }

  .wheel_arrow {
    width: 300px;
    height: 300px;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-right: 8px;
    position: static;
  }

  .main {
    height: 100%;
    padding-top: 125px;
  }

  .menu_block {
    display: none;
  }

  .wallet {
    margin-left: 0;
    margin-right: 0;
  }

  .div-block-8 {
    width: 40px;
    height: 40px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .main_section {
    width: 100%;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    position: static;
  }

  .loot {
    width: 100%;
  }

  .center_block {
    width: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .side_block {
    width: 350px;
    height: 400px;
  }

  .prizes_block {
    justify-content: flex-start;
  }

  .hamburger_menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
    display: flex;
  }

  .line {
    width: 100%;
    height: 10%;
    background-color: #6cffeb;
    padding-bottom: 0;
    padding-right: 0;
  }

  .presale_block {
    align-items: center;
  }

  .chain_block, .project_block {
    justify-content: center;
  }

  .menu_mobile {
    z-index: 50;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .79);
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .menu_mobile_block {
    width: 100%;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
  }

  .text-block-3 {
    color: #c7fffd;
    text-align: center;
    font-family: Exo, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }

  .button {
    color: #c7fffd;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
    font-family: Exo, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    display: flex;
  }

  .close_mobile_button {
    width: 42px;
    height: 42px;
    top: 2%;
  }
}

@media screen and (max-width: 479px) {
  .header {
    width: 95%;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .main {
    height: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: none;
  }

  .div-block-2 {
    width: 100%;
    display: none;
  }

  .div-block-3 {
    width: 95%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto 13px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .div-block-4 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .div-block-5 {
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../images/treasure.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    width: 120px;
  }

  .wallet {
    margin-left: 0;
    margin-right: 0;
  }

  .div-block-8 {
    width: 40px;
    height: 40px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .image {
    display: none;
  }

  .div-block-14 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 81px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .div-block-15 {
    width: 95%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    display: flex;
  }

  .div-block-16 {
    width: 95%;
    height: 150px;
    background-color: #0e0714;
    border-radius: 6px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .image-2 {
    width: 300px;
    height: 300px;
    max-width: none;
    min-height: auto;
    min-width: auto;
  }

  .main_section {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .loot {
    padding-left: 15px;
    padding-right: 15px;
  }

  .center_block {
    width: 100%;
    height: auto;
    background-color: #080808;
    border: 1px #20ac9e;
    padding-left: 0;
    padding-right: 0;
  }

  .wheel_base {
    width: 280px;
    height: 280px;
  }

  .side_block {
    width: 100%;
    background-color: #080808;
  }

  .button_wallet {
    width: 120px;
    margin-left: 0;
    margin-right: 0;
  }

  .block_title {
    background-color: #010d0d;
  }

  .text-block-2 {
    color: #72fff4;
  }

  .description_block {
    background-color: #010d0d;
  }

  .title {
    color: #6effdd;
  }

  .ticker, .number {
    color: #cef0ff;
  }

  .social_web {
    background-position: 50%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .chain {
    color: #6effdd;
  }

  .prize_block {
    align-items: center;
  }

  .cap_title {
    color: #cef0ff;
  }

  .loot_button {
    color: #ffee91;
  }

  .social_twitter, .social_tg {
    background-size: cover;
  }

  .popup_rules {
    padding-left: 15px;
    padding-right: 15px;
  }

  .popup_para {
    font-size: 16px;
  }

  .presale_block {
    align-items: center;
  }

  .menu_mobile {
    background-color: rgba(0, 0, 0, .79);
    display: none;
  }

  .close_mobile_button {
    top: 5%;
    right: auto;
  }

  .popup_win_wl {
    padding-left: 15px;
    padding-right: 15px;
  }

  .popup_loot_para {
    font-size: 16px;
  }

  .popup_win_prize_1, .popup_win_prize_2, .popup_win_prize_3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .remaining_spots, .spots {
    color: #6effdd;
  }
}


