.hidden {
    display: none;
}


.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg_melting.png');
  background-position: 50% 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.image {
  width: 320px;
}

.hero_psyko {
  position: relative;
}

.eyeball_left {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 59px;
  left: 74px;
}

.eyeball_right {
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 55px;
  left: 139px;
}

.eye_left {
  width: 14px;
}

.eye_right {
  width: 18px;
}

.psyko {
  width: 320px;
}

.hero_title {
  z-index: 10;
  position: absolute;
  top: auto;
  bottom: -21%;
  left: 0%;
  right: 0%;
}

.psyko_footer {
  width: 330px;
  position: absolute;
  top: 240px;
}

.hero_visual {
  margin-top: -63px;
  position: relative;
}

.header {
  z-index: 2500;
  width: 100%;
  height: 65px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.body {
  background-color: #0b0b0b;
  background-image: none;
  background-position: 0 0;
  background-size: auto;
  background-attachment: scroll;
}

.section_cosmic {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}

.cosmic_h1 {
  color: #66008c;
  text-align: center;
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: #f800ff;
  margin-top: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 35px;
  line-height: 35px;
  position: static;
  top: auto;
  bottom: 6%;
  left: 0%;
  right: 0%;
}

.cosmic_sauce {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cosmic_title {
  opacity: 1;
  color: #66008c;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f800ff;
  font-family: Lilitaone, sans-serif;
  font-size: 90px;
  line-height: 90px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.cosmic_description {
  width: auto;
  height: auto;
  background-color: #101010;
  border: 3px solid #5c125e;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 50px 35px 35px;
  display: flex;
  position: relative;
}

.cosmic_paragraph {
  color: #d66cda;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #ffaccf, #b93dff);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 25px;
  margin-bottom: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.cosmic_button {
  width: 130px;
  color: #fc89ff;
  background-color: #470068;
  background-image: url('../images/button_purple.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #f800ff;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 0;
  font-family: Lilitaone, sans-serif;
  display: flex;
}

.cosmic_button:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.two_buttons {
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  display: flex;
}

.div-block-8 {
  width: 100%;
  height: 70px;
  background-color: #2dff2d;
}

.pepper {
  width: 80px;
  margin-bottom: 0;
  position: absolute;
  top: -11%;
  bottom: auto;
  left: auto;
  right: auto;
}

.div-block-9 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-side at 0%, #3c004b, rgba(255, 255, 255, 0) 44%);
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.block_spaceship {
  z-index: 2;
  width: 100%;
  height: auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  position: relative;
}

.image-8 {
  width: 1068px;
}

.image-9 {
  width: 100%;
  display: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-10 {
  z-index: 5;
  width: 450px;
  margin-bottom: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-10 {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
}

.image-11 {
  z-index: 5;
  width: 450px;
  flex: 0 auto;
  position: absolute;
  top: 205.387px;
  left: 85px;
}

.image-12 {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-11 {
  width: auto;
  height: 400px;
  margin-left: 16px;
  margin-right: 16px;
}

.image-13 {
  width: 600px;
}

.div-block-12 {
  width: 100%;
  height: 100%;
  max-width: 1068px;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  position: relative;
}

.image-14 {
  width: 650px;
}

.welcome_paragraph {
  color: #d66cda;
  text-align: left;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #ffaccf, #b93dff);
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0;
  font-family: Lilita One, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.div-block-13 {
  width: 400px;
  display: none;
}

.v {
  width: 55%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 35px;
  display: flex;
}

.vv {
  width: 45%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 35px;
  display: flex;
}

.div-block-14 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
}

.welcome_truck {
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 25px;
  padding-top: 0;
  display: flex;
  position: relative;
}

.truck {
  width: 550px;
  margin-top: -78px;
  position: relative;
  top: 0;
}

.welcome_title {
  opacity: 1;
  color: #008944;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #00ff91;
  font-family: Lilitaone, sans-serif;
  font-size: 90px;
  line-height: 90px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.hero_transition {
  width: auto;
  height: 100vh;
  background-image: url('../images/melt.png');
  background-position: 50% 0;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section_about {
  width: 100%;
  height: 100vh;
  background-image: none;
  background-size: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.welcome_para {
  width: 500px;
  height: 389.8px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px #0a382a;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 25px;
  padding: 35px;
  display: flex;
  position: relative;
}

.welcome_text {
  color: #43ff98;
  text-align: left;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#43ff98, #43ff98);
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.section_tokenomics {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
  display: flex;
  position: relative;
}

.tokenomics_bg {
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.pizza_block {
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  margin-right: 0;
  padding-top: 0;
  display: flex;
  position: relative;
}

.token_description {
  width: 500px;
  height: auto;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(18, 18, 18, .56);
  border: 3px solid #68634a;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 25px;
  padding: 35px;
  display: flex;
  position: relative;
}

.pizza {
  width: 350px;
}

.tokenomics_para {
  color: #43ff98;
  text-align: left;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #ffea8b, #fff6cc);
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.tokenomics_button {
  width: 130px;
  color: #ffeba3;
  background-color: #684e00;
  background-image: url('../images/button_gold.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #e0bc51;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Lilitaone, sans-serif;
  display: flex;
}

.tokenomics_button:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.bg {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.spaceship_title {
  opacity: 1;
  color: #600;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff0004;
  margin-top: 50px;
  font-family: Lilitaone, sans-serif;
  font-size: 90px;
  line-height: 90px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.pizzaship {
  width: 300px;
  display: block;
  position: absolute;
  transform: rotate(0);
}

.section_spaceship {
  width: 100%;
  height: 100vh;
  background-image: url('../images/stars.png');
  background-position: 50%;
  background-size: 150px 150px;
  background-attachment: fixed;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.spaceship_para {
  width: 600px;
}

.spaceship_fuel {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
}

.block_fuel {
  width: 300px;
  height: 300px;
  background-color: #181818;
  border: 1px solid #000;
  border-radius: 14px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
}

.gbb {
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 25px;
  padding-top: 0;
  display: flex;
  position: relative;
}

.spaceship {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0;
  padding-top: 0;
  display: flex;
  position: relative;
}

.spaceship_text {
  color: #d66cda;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-45deg, #f9845a, #ff3d3d);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 25px;
  margin-bottom: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.vfvf-copy {
  opacity: 1;
  color: #1a4705;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #82ec3b;
  margin-top: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 28px;
  line-height: 40px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.fuel_img {
  width: 135px;
  height: 135px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-19 {
  z-index: -1;
  background-image: linear-gradient(#0a0a0a, rgba(255, 255, 255, 0) 40%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section_socials {
  width: 100%;
  height: 100vh;
  background-image: url('../images/stars.png');
  background-position: 50%;
  background-size: 250px 150px;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.image-19 {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.stars_gradient {
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#0b0b0b, rgba(255, 255, 255, 0) 54%);
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-20 {
  z-index: 5;
  width: 350px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  position: absolute;
  top: auto;
  bottom: -12%;
  left: 21%;
  right: 0%;
}

.psyko_back {
  z-index: 10;
  width: 200px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 303px;
}

.image-22 {
  width: 350px;
  position: absolute;
  top: auto;
  bottom: 63px;
  left: 181px;
}

.moon_ground {
  z-index: 10;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.moon {
  z-index: 5;
  position: absolute;
  bottom: 36.2px;
  left: auto;
}

.fuel_cycle_title {
  opacity: 1;
  color: #2a3673;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #2dfcfe;
  margin-top: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 28px;
  line-height: 40px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.reward_title {
  opacity: 1;
  color: #5c4d0b;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff87c;
  margin-top: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 28px;
  line-height: 40px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.gradient_overlay {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#0b0b0b, rgba(255, 255, 255, 0) 54%, #0b0b0b);
  position: absolute;
}

.cycle_button {
  width: 130px;
  color: #2be7fd;
  background-color: #21348f;
  background-image: url('../images/button_blue.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #25f9f9;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Lilitaone, sans-serif;
  display: flex;
}

.cycle_button:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.point_button {
  width: 130px;
  color: #80eb37;
  background-color: #226b00;
  background-image: url('../images/button_green.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #9bff57;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Lilitaone, sans-serif;
  display: flex;
}

.point_button:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.crew {
  opacity: 1;
  color: #002e66;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #00aeff;
  margin-top: 50px;
  font-family: Lilitaone, sans-serif;
  font-size: 90px;
  line-height: 90px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.crew_team {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
}

.crew1 {
  width: 250px;
  margin-left: 15px;
  margin-right: 15px;
}

.crew2 {
  width: 250px;
}

.crew_paragraph {
  color: #d66cda;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-45deg, #00a4f0, #7ac3ff);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 25px;
  margin-bottom: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.section_crew {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.button {
  color: #097731;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: #68ffa0;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  font-family: Lilita One, sans-serif;
  font-size: 23px;
  line-height: 23px;
}

.home {
  color: #424242;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: #fff;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 23px;
  line-height: 23px;
}

.home:hover {
  color: #000;
  -webkit-text-stroke-color: #71ffa5;
}

.about {
  color: #097731;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: #68ffa0;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 23px;
  line-height: 23px;
}

.about:hover {
  color: #000;
  -webkit-text-stroke-color: #71ffa5;
}

.tokenomics {
  color: #684e00;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: #ffeba3;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 23px;
  line-height: 23px;
}

.tokenomics:hover {
  color: #000;
  -webkit-text-stroke-color: #71ffa5;
}

.cosmic {
  color: #66008c;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: #fc8dff;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 23px;
  line-height: 23px;
}

.cosmic:hover {
  color: #000;
  -webkit-text-stroke-color: #71ffa5;
}

.spiceship {
  color: #600;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: #ff6365;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 21px;
  line-height: 23px;
}

.spiceship:hover {
  color: #000;
  -webkit-text-stroke-color: #71ffa5;
}

.thecrew {
  color: #002e66;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: #60cdff;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 23px;
  line-height: 23px;
}

.thecrew:hover {
  color: #000;
  -webkit-text-stroke-color: #71ffa5;
}

.header_play {
  z-index: 3000;
  width: 100%;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.socials_buttons {
  z-index: 5000;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.psyko_logo {
  width: 330px;
  position: static;
  top: auto;
}

.button_join {
  width: 130px;
  color: #80eb37;
  background-color: #226b00;
  background-image: url('../images/button_green.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #9bff57;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 0;
  font-family: Lilitaone, sans-serif;
  display: flex;
}

.button_join:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.twitter {
  width: 55px;
  height: 55px;
  background-color: #341354;
  background-image: url('../images/twitter.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2.5px solid #b543ff;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.twitter:hover {
  border-color: #9bfda2;
}

.telegram {
  width: 55px;
  height: 55px;
  background-color: #341354;
  background-image: url('../images/tg.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2.5px solid #b543ff;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.telegram:hover {
  border-color: #9bfda2;
}

.discord {
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-color: #341354;
  background-image: url('../images/discord.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2.5px solid #b543ff;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.discord:hover {
  border-color: #9bfda2;
}

.youtube {
  width: 55px;
  height: 55px;
  background-color: #341354;
  background-image: url('../images/youtube.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2.5px solid #b543ff;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.youtube:hover {
  border-color: #9bfda2;
}

.block_tokenomics, .block_crew {
  z-index: 2;
  width: 100%;
  height: auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  position: relative;
}

.the_crew {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0;
  padding-top: 0;
  display: flex;
  position: relative;
}

.crew_para {
  width: 600px;
}

.pepper_purple {
  z-index: 450;
  width: 300px;
  display: block;
  position: absolute;
}

.button-2 {
  width: 55px;
  height: 55px;
  background-color: #341354;
  border: 2.5px solid #b543ff;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.play {
  width: 130px;
  color: #fc89ff;
  background-color: #470068;
  background-image: url('../images/button_purple.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #f800ff;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: Lilitaone, sans-serif;
  display: flex;
}

.play:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.body-2 {
  background-color: #0b0b0b;
}

.sauces {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 100px;
  display: flex;
}

.sauce_02 {
  width: 300px;
  height: 350px;
  background-color: #151515;
  border: 0 solid #d500ff;
  border-radius: 13px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.sauce_img {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
}

.sauce_title_01 {
  opacity: 1;
  color: #66008c;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f800ff;
  font-family: Lilita One, sans-serif;
  font-size: 35px;
  line-height: 35px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.eth_prize {
  opacity: 1;
  color: #fdd74e;
  text-align: center;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #f800ff;
  font-family: Lilita One, sans-serif;
  font-size: 20px;
  line-height: 35px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.sauce_01 {
  width: 300px;
  height: 350px;
  background-color: #151515;
  border: 2px solid #d500ff;
  border-radius: 13px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.play_now {
  width: 130px;
  color: #f800ff;
  -webkit-text-stroke-color: #f800ff;
  background-color: #44006b;
  background-image: url('../images/button_purple.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #f800ff;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 0;
  font-family: Lilita One, sans-serif;
  display: flex;
}

.play_now:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.play_button {
  width: 130px;
  color: #818181;
  cursor: not-allowed;
  background-color: #3d3d3d;
  border: 2px solid #585858;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 0;
  font-family: Lilita One, sans-serif;
  display: flex;
}

.play_button:hover {
  color: #fd4043;
  border-color: #ff4d50;
}

.sauce_title_02 {
  opacity: 1;
  color: #66008c;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f800ff;
  font-family: Lilita One, sans-serif;
  font-size: 35px;
  line-height: 35px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.eth_prize-copy {
  opacity: 1;
  color: #535353;
  text-align: center;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #f800ff;
  font-family: Lilita One, sans-serif;
  font-size: 20px;
  line-height: 35px;
  position: static;
  top: 7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.cosmic_hero {
  width: 100%;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  display: flex;
}

.image-23, .image-24 {
  opacity: .34;
}

.div-block-24 {
  width: 100%;
  height: 350px;
}

.rules_button {
  width: 130px;
  color: #f800ff;
  -webkit-text-stroke-color: #f800ff;
  background-color: #44006b;
  background-image: url('../images/button_purple.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #f800ff;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 0;
  font-family: Lilita One, sans-serif;
  display: flex;
}

.rules_button:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.rules_popup {
  z-index: 3000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .6);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.popup_buy {
  width: 450px;
  height: auto;
  background-color: #151515;
  border: 2px solid #f800ff;
  border-radius: 17px;
  flex-direction: column;
  align-items: stretch;
  padding: 30px 15px;
  display: flex;
  position: relative;
}

.body-3 {
  background-color: #0b0b0b;
}

.section_semantic {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
}

.block_semantic {
  width: 450px;
  height: auto;
  background-color: #151515;
  border: 2px solid #d400ff;
  border-radius: 15px;
  flex-direction: column;
  align-items: stretch;
  padding: 15px;
  display: flex;
}

.image-25 {
  width: 150px;
}

.block_form {
  width: 100%;
  height: auto;
  background-color: #060505;
  border-radius: 9px;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: 10px 10px 10px 15px;
  display: flex;
}

.send_button {
  width: 130px;
  color: #fc89ff;
  background-color: #470068;
  background-image: url('../images/button_purple.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #f800ff;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: Lilitaone, sans-serif;
  display: flex;
}

.send_button:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.text-block {
  color: #3f1753;
  font-family: Lilitaone, sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.block_answers {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 0;
  display: flex;
}

.div-block-31 {
  height: 40px;
}

.separator {
  height: 1px;
  background-color: #4c1a69;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.answers_sort {
  height: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text_answer {
  color: #9d7cb1;
  font-family: Lilitaone, sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.cdcccc-copy {
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.div-block-32 {
  align-items: center;
  display: flex;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.number {
  width: 30px;
}

.guess {
  width: 112.5px;
  max-width: 112.5px;
}

.similarity, .close {
  width: 90px;
}

.block_sauce {
  justify-content: center;
  align-items: center;
  display: flex;
}

.block_question {
  margin-top: 20px;
}

.answers {
  height: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.answer_number {
  width: 30px;
}

.answer_guess {
  width: 112.5px;
  max-width: 112.5px;
}

.answer_similarity, .answer_close {
  width: 90px;
}

.connect {
  width: auto;
  color: #fc89ff;
  background-color: #470068;
  background-image: url('../images/button_purple.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #f800ff;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: Lilitaone, sans-serif;
  display: flex;
}

.connect:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.header_bg {
  z-index: 1000;
  width: 100%;
  height: 65px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(11, 11, 11, .68);
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.header_join {
  z-index: 3000;
  width: auto;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  padding-right: 10px;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.button_home {
  width: 130px;
  color: #80eb37;
  background-color: #226b00;
  background-image: url('../images/button_green.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #9bff57;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: Lilitaone, sans-serif;
  display: flex;
}

.button_home:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.close_button {
  width: 33px;
  height: 33px;
  cursor: pointer;
  background-color: #1d1d1d;
  border-radius: 8px;
  position: absolute;
  top: 2.5%;
  bottom: auto;
  left: auto;
  right: 2.5%;
}

.pope {
  color: #d66cda;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #ffaccf, #b93dff);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 30px;
  margin-bottom: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.div-block-34 {
  height: auto;
  background-color: #0a0a0a;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.rules_text {
  color: #af4cc4;
  text-align: center;
  text-transform: none;
  margin-top: 20px;
  font-family: Lilitaone, sans-serif;
}

.div-block-35 {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.sauce_03 {
  width: 300px;
  height: 350px;
  background-color: #151515;
  border: 0 solid #d500ff;
  border-radius: 13px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.buy_psyko {
  z-index: 3000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .6);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.buy_more {
  color: #d66cda;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #ffaccf, #b93dff);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 30px;
  margin-bottom: 0;
  font-family: Lilitaone, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.buy_now {
  width: 130px;
  color: #f800ff;
  -webkit-text-stroke-color: #f800ff;
  background-color: #44006b;
  background-image: url('../images/button_purple.svg');
  background-position: 0 0;
  background-size: cover;
  border: 2px solid #f800ff;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 0;
  font-family: Lilita One, sans-serif;
  display: flex;
}

.buy_now:hover {
  color: #89ffac;
  border-color: #92ffb6;
}

.buy_button {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

@media screen and (min-width: 1920px) {
  .eyeball_left {
    top: 78px;
    left: 97px;
  }

  .eyeball_right {
    top: 74px;
    left: 181px;
  }

  .eye_left {
    width: 18px;
  }

  .eye_right {
    width: 20px;
  }

  .psyko {
    width: 400px;
  }

  .hero_title {
    bottom: -8%;
    left: 9%;
  }

  .header {
    height: 80px;
  }

  .cosmic_h1 {
    -webkit-text-stroke-width: 2px;
    margin-top: 25px;
    font-size: 55px;
    line-height: 55px;
  }

  .cosmic_sauce {
    width: 400px;
  }

  .cosmic_title {
    -webkit-text-stroke-width: 3px;
    font-size: 125px;
    line-height: 125px;
  }

  .cosmic_paragraph {
    font-size: 25px;
    line-height: 30px;
  }

  .cosmic_button {
    width: 170px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }

  .pepper {
    width: 130px;
  }

  .block_spaceship {
    width: auto;
    max-width: 1500px;
  }

  .truck {
    width: 1100px;
  }

  .welcome_title {
    -webkit-text-stroke-width: 3px;
    font-size: 125px;
    line-height: 125px;
  }

  .welcome_para {
    width: 700px;
  }

  .welcome_text {
    font-size: 25px;
    line-height: 30px;
  }

  .token_description {
    width: 650px;
  }

  .tokenomics_para {
    font-size: 25px;
    line-height: 30px;
  }

  .tokenomics_button {
    width: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }

  .spaceship_title {
    -webkit-text-stroke-width: 3px;
    font-size: 125px;
    line-height: 125px;
  }

  .pizzaship {
    width: 400px;
  }

  .block_fuel {
    width: 380px;
    height: 380px;
    padding: 30px 20px;
  }

  .spaceship_text {
    font-size: 25px;
    line-height: 30px;
  }

  .vfvf-copy {
    font-size: 40px;
  }

  .fuel_img {
    width: 160px;
    height: 160px;
  }

  .psyko_back {
    width: 350px;
  }

  .moon {
    width: 300px;
  }

  .fuel_cycle_title, .reward_title {
    font-size: 40px;
  }

  .cycle_button, .point_button {
    width: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }

  .crew {
    -webkit-text-stroke-width: 3px;
    font-size: 125px;
    line-height: 125px;
  }

  .crew_paragraph {
    font-size: 25px;
    line-height: 30px;
  }

  .home {
    z-index: 2100;
    font-size: 30px;
    line-height: 30px;
    position: static;
  }

  .about, .tokenomics, .cosmic, .spiceship, .thecrew {
    font-size: 30px;
    line-height: 30px;
  }

  .header_play {
    height: 80px;
    padding: 15px;
  }

  .psyko_logo {
    width: 350px;
  }

  .button_join, .play {
    width: 180px;
    margin-left: 0;
    padding: 12px 0;
    font-size: 22px;
    line-height: 22px;
  }

  .sauce_02 {
    width: 450px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sauce_img {
    width: 250px;
    height: 250px;
  }

  .sauce_title_01 {
    margin-top: 25px;
    font-size: 45px;
    line-height: 45px;
  }

  .eth_prize {
    margin-top: 10px;
    font-size: 30px;
    line-height: 30px;
  }

  .sauce_01 {
    width: 450px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .play_now, .play_button {
    width: 170px;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }

  .sauce_title_02 {
    margin-top: 25px;
    font-size: 45px;
    line-height: 45px;
  }

  .eth_prize-copy {
    margin-top: 10px;
    font-size: 30px;
    line-height: 30px;
  }

  .cosmic_hero {
    margin-top: 125px;
  }

  .rules_button {
    width: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }

  .popup_buy {
    width: 600px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .section_semantic {
    padding-top: 120px;
  }

  .block_semantic {
    width: 700px;
  }

  .image-25 {
    width: 250px;
  }

  .text-block, .text_answer {
    font-size: 20px;
    line-height: 20px;
  }

  .close, .answer_close {
    width: 100px;
  }

  .connect {
    width: 220px;
    padding: 15px 0;
    font-size: 22px;
    line-height: 22px;
  }

  .header_bg {
    height: 80px;
  }

  .header_join {
    height: 80px;
    padding: 15px;
  }

  .button_home {
    width: 180px;
    margin-left: 0;
    padding: 12px 0;
    font-size: 22px;
    line-height: 22px;
  }

  .close_button {
    width: 40px;
    height: 40px;
  }

  .pope {
    margin-top: 40px;
    font-size: 25px;
    line-height: 30px;
  }

  .div-block-34 {
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .rules_text {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .div-block-35 {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    display: flex;
  }

  .sauce_03 {
    width: 450px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .buy_more {
    margin-top: 40px;
    font-size: 25px;
    line-height: 30px;
  }

  .buy_now {
    width: 170px;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .psyko_footer {
    top: 274px;
  }

  .header {
    display: none;
  }

  .section_cosmic {
    margin-top: 0;
    display: flex;
  }

  .cosmic_description {
    width: 500px;
  }

  .block_spaceship {
    flex-direction: column;
  }

  .welcome_truck {
    margin-top: 173px;
    margin-right: 0;
  }

  .truck {
    position: relative;
    top: auto;
  }

  .section_about {
    height: auto;
  }

  .welcome_para {
    margin-left: 0;
  }

  .welcome_text {
    text-align: center;
  }

  .section_tokenomics {
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
  }

  .pizza_block {
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    left: 543px;
    right: auto;
  }

  .token_description {
    margin-right: 0;
  }

  .pizza {
    width: 200px;
    margin-top: 0;
  }

  .section_spaceship {
    height: auto;
    margin-bottom: 0;
    padding-bottom: 100px;
    display: flex;
  }

  .section_socials {
    display: flex;
  }

  .psyko_back {
    left: auto;
    right: 76px;
  }

  .moon {
    width: 250px;
    bottom: 12.2px;
    left: 157px;
  }

  .section_crew {
    display: flex;
  }

  .home, .about, .tokenomics, .cosmic, .spiceship, .thecrew {
    display: none;
  }

  .header_play {
    width: 100%;
    justify-content: space-between;
  }

  .block_tokenomics {
    flex-direction: column;
  }

  .section_semantic {
    height: auto;
  }

  .header_bg {
    display: flex;
  }

  .header_join {
    width: auto;
    justify-content: space-between;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }
}

@media screen and (max-width: 767px) {
  .psyko_footer {
    width: 280px;
    top: 251px;
  }

  .cosmic_h1 {
    -webkit-text-stroke-width: 1px;
    margin-top: 10px;
  }

  .cosmic_title {
    font-size: 66px;
    line-height: 66px;
  }

  .cosmic_description {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cosmic_paragraph {
    margin-top: 0;
  }

  .block_spaceship {
    padding-left: 15px;
    padding-right: 15px;
  }

  .welcome_truck {
    margin-top: 100px;
    margin-right: 0;
  }

  .section_about {
    height: 100%;
  }

  .welcome_para {
    width: 400px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .welcome_text {
    text-align: center;
  }

  .section_tokenomics {
    margin-top: 50px;
  }

  .token_description {
    width: auto;
    margin-right: 0;
  }

  .spaceship_title {
    font-size: 66px;
    line-height: 66px;
  }

  .pizzaship {
    display: none;
  }

  .section_spaceship {
    padding-bottom: 0;
  }

  .spaceship_para {
    width: auto;
  }

  .spaceship_fuel {
    flex-direction: column;
  }

  .block_fuel {
    margin: 25px 0;
  }

  .psyko_back {
    width: 180px;
    left: 292px;
  }

  .moon {
    width: 200px;
    bottom: 2.2px;
    left: 6px;
  }

  .gradient_overlay {
    height: 100%;
  }

  .crew {
    font-size: 66px;
    line-height: 66px;
  }

  .crew1, .crew2 {
    width: 200px;
  }

  .section_crew {
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .header_play {
    width: 100%;
    justify-content: space-between;
  }

  .block_tokenomics, .block_crew {
    padding-left: 15px;
    padding-right: 15px;
  }

  .crew_para {
    width: auto;
  }

  .sauces {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding-bottom: 30px;
  }

  .sauce_02 {
    height: auto;
    margin-bottom: 30px;
  }

  .sauce_title_01 {
    margin-top: 20px;
    font-size: 30px;
    line-height: 30px;
  }

  .eth_prize {
    margin-top: 5px;
    font-size: 18px;
    line-height: 18px;
  }

  .sauce_01 {
    height: auto;
    margin-bottom: 30px;
  }

  .play_now, .play_button {
    margin-top: 15px;
  }

  .sauce_title_02 {
    margin-top: 20px;
    font-size: 30px;
    line-height: 30px;
  }

  .eth_prize-copy {
    padding-top: 5px;
    font-size: 18px;
    line-height: 18px;
  }

  .popup_buy {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section_semantic {
    height: auto;
  }

  .header_join {
    width: auto;
    justify-content: space-between;
  }

  .pope {
    margin-top: 0;
  }

  .div-block-34 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sauce_03 {
    height: auto;
    margin-bottom: 30px;
  }

  .buy_more {
    margin-top: 0;
  }

  .buy_now {
    margin-top: 15px;
  }
}

@media screen and (max-width: 479px) {
  .psyko_footer {
    top: 208px;
  }

  .header {
    display: flex;
  }

  .section_cosmic {
    padding: 50px 10px;
    display: flex;
  }

  .cosmic_h1 {
    font-size: 30px;
    line-height: 32px;
  }

  .cosmic_description {
    padding-left: 0;
    padding-right: 0;
  }

  .cosmic_paragraph {
    padding-left: 15px;
    padding-right: 15px;
  }

  .pepper {
    top: -7%;
  }

  .welcome_title {
    font-size: 66px;
    line-height: 66px;
  }

  .section_about {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .welcome_para {
    width: auto;
    height: auto;
  }

  .section_tokenomics {
    margin-top: 0;
    padding: 50px 10px;
  }

  .tokenomics_bg {
    height: 150px;
    display: none;
  }

  .token_description {
    padding-left: 0;
    padding-right: 0;
  }

  .tokenomics_para {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .pizzaship {
    display: none;
  }

  .section_spaceship {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }

  .section_socials {
    display: flex;
  }

  .psyko_back {
    left: 144px;
  }

  .crew_team {
    flex-direction: column;
  }

  .crew1 {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .crew2 {
    margin-top: 15px;
  }

  .section_crew {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
  }

  .home, .about, .tokenomics, .cosmic, .spiceship, .thecrew {
    display: none;
  }

  .header_play {
    width: 100%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  .socials_buttons {
    margin-top: 77px;
  }

  .button_join {
    margin-left: 0;
  }

  .twitter, .telegram, .discord, .youtube {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .block_tokenomics {
    width: 100%;
  }

  .pepper_purple {
    width: 200px;
  }

  .play, .play_now, .play_button {
    margin-left: 0;
  }

  .cosmic_hero {
    margin-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .rules_button {
    margin-bottom: 30px;
    margin-left: 0;
  }

  .rules_popup {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    display: none;
  }

  .section_semantic {
    height: auto;
  }

  .block_semantic {
    width: 100%;
    align-items: stretch;
    margin-left: 10px;
    margin-right: 10px;
  }

  .connect {
    margin-left: 0;
  }

  .header_bg {
    display: flex;
  }

  .header_join {
    width: auto;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  .button_home {
    margin-left: 0;
  }

  .pope {
    padding-left: 15px;
    padding-right: 15px;
  }

  .buy_psyko {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }

  .buy_more {
    padding-left: 15px;
    padding-right: 15px;
  }

  .buy_now {
    margin-left: 0;
  }
}


@font-face {
  font-family: 'Lilitaone';
  src: url('../fonts/LilitaOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}