.div-block {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  background-color: #000;
}

.connect {
  margin-bottom: 15px;
}

button:disabled {
  background-color: #cccccc;
  color: #ffffff;
  cursor: not-allowed;
}
